@{
    ViewBag.Title = "Senha Alterada com Sucesso";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sua Senha foi modificada. Por favor @Html.ActionLink("click aqui para acessar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
